# ===============================
# Node dependencies
# ===============================
node_modules/


# ===============================
# Environment variables
# ===============================
.env


# ===============================
# macOS system files
# ===============================
.DS_Store


# ===============================
# IDE / Side editors
# ===============================

.vscode/
.idea/
*.swp


