.navbar {
  backdrop-filter: blur(12px);
  background: transparent;
  -webkit-backdrop-filter: blur(12px);
  transition: background 0.3s;
  font-family: var(--font-mono);
}

.navbar.scrolled {
  background: transparent;
}

.nav-link {
  background: transparent;
  position: relative;
  padding: 0.5rem 1rem !important;
  font-family: var(--font-mono);
  font-size: var(--bs-nav-link-font-size);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--bs-body-bg);
  transition: width 0.3s, left 0.3s;
  font-family: var(--font-mono);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  left: 0;
  color: var(--bs-body-bg);
}
